@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-family: kufi;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}


/*fonts*/
@font-face {
  src: url(../fonts/Droid.Arabic.Kufi.ttf);
  font-family: kufi;
}

/*colors*/
::-moz-selection {
  background: #D69942;
}
::selection {
  background: #D69942;
}
body{
  overflow-x: hidden;
  text-align: initial;
}
/*uppernav*/
.uppernav {
  color: #7C590F;
  font-size: .9rem;
}

.uppernav .container {
  padding-right: 2rem;
}

.uppernav .container a {
  color: #7C590F;
  text-decoration: none;
}

/*nav start*/
nav {
  background: #27150B;
  border-bottom: solid 4px #CB913F;
  border-top: solid 4px #CB913F;
}

nav .navbar-toggler {
  background: #CB913F;
  outline: none;
}

nav .navbar-collapse a {
  color: #CB913F !important;
  font-size: 1rem;
}

nav .navbar-collapse a:hover {
  color: #f7ca90 !important;
}

nav .navbar-collapse .dropdown:hover .dropdown-menu {
  display: block;
}

nav .navbar-collapse .dropdown .dropdown-item {
  border-bottom: 1px solid #d3c4b2;
  color: #7C590F !important;
}

nav .navbar-collapse .dropdown .dropdown-item:last-child {
  border: none;
}

nav .navbar-collapse form .social {
  position: relative;
  top: -1rem;
  letter-spacing: .6rem;
  text-align: left;
}

nav .navbar-collapse form .social i {
  color: gray;
  font-size: 1.2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

nav .navbar-collapse form .social i:hover {
  color: #fff;
}

nav .navbar-collapse form input {
  width: 60%;
  height: 33px;
  border: none;
  font-size: .8rem;
  z-index: 9;
  margin-right: auto;
}

nav .navbar-collapse form input:focus {
  outline: none;
}

nav .navbar-collapse form button {
  width: 40px;
  height: 33px;
  background: #CB913F;
  float: left;
  border: none;
  color: #fff;
}

nav .navbar-collapse form button:focus {
  outline: none;
}

/*header start*/
.for-image > img{
  width: 100%;
  height: 60vh !important;
  min-height: 60vh !important;
  background-size: 100% auto !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  background-size: cover;
  border-bottom: 0.1rem solid #CB913F;
}


.header_image > img{
  width: 100%;
  height: 40vh !important;
  min-height: auto !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-bottom: 0.1rem solid #CB913F;

}


/*gallery start*/
.gallery .firstgal {
  overflow: hidden;
  position: relative;
}

.gallery .firstgal h5 {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  border-bottom: solid 2px #fff;
}

.gallery img {
  height: 300px;
  min-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

.gallery img:hover {
  opacity: .8;
}

/*chef start*/
.chef {
  background: url(../images/he2.jpg) no-repeat;
  background-size: 100% 100%;
}

.chef button {
  width: 380px;
  height: 85px;
  color: #d3aa5e;
  font-size: 1.7rem;
  border: 2px solid #fff;
  background: transparent;
  outline: none;
}

/*store*/
.store {
  color: #2E1206;
}

.store .firstgal {
  overflow: hidden;
  border: solid 5px #CB913F;
}

.store .firstgal img {
  height: 300px;
  min-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

.store .firstgal img:hover {
  opacity: .8;
}

/*form*/
.form {
  background: url(../images/form.jpg) no-repeat;
  background-size: cover;
  border-top: solid 5px #CB913F;
}

.form iframe {
  width: 100%;
}

.form form {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem .7rem;
}

.form form input {
  width: 100%;
}

.form form .sub {
  width: 6rem;
  background: #CB913F;
  border: none;
  color: #fff;
  outline: none;
}

/*footer*/
footer {
  color: #7C590F;
  border-top: solid 15px #27150B;
}

footer h5 {
  color: #27150B;
  border-bottom: solid 1px #b9aaa1;
  padding-bottom: .3rem;
}

footer .circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #AB9176;
  margin: 0rem .1rem;
  padding-left: .6rem;
}

footer .circle i {
  color: #fff;
  padding-right: 30%;
  padding-top: 25%;
  font-size: 1.2rem;
}

footer .info {
  line-height: .8rem;
}

footer .info button {
  width: 90px;
  height: 50px;
  background: #27150B;
  color: #fff;
  outline: none;
  border: none;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .info button:hover {
  background: #603F2F;
}

footer .links p {
  border-bottom: solid 1px #b9aaa1;
  font-size: .9rem;
  width: 80%;
  text-align: right;
}

footer .links p::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #7C590F;
  margin-right: -.8rem;
  margin-top: .5rem;
}

footer .links a {
  color: #AC700F;
  text-decoration: none;
}

footer .droid p {
  text-align: center;
}

/*last*/
.last {
  border-top: solid 1px #D69942;
  color: #7C590F;
  text-align: center;
  background: #F3F3F3;
}
.last a {
  width: 40px;
  height: 40px;
  margin-right: auto !important;
  background: #c58e18;
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}

/*المنتجــــــــــــــــــــــــــــــــات*/
header {
  position: relative;
}

header img {
  width: 100%;
  border-bottom: solid 1px #CB913F;
}

header .header_content {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  right: 6%;
  top: 50%;
  font-size: 2.7vw;
}
.products{
  text-align: right;
}
.products .product_list {
  background: #F9F9F9;
}

.products .product_list a {
  text-decoration: none;
  color: #000;
}

.products .product_list a:active {
  color: #CB913F;
}

.products .product_list a:hover {
  color: #CB913F;
}

.products .products_gallery img {
  width: 100%;
  height: 200px;
  min-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: .4s;
  transition: .4s;
}

.products .products_gallery img:hover {
  opacity: .8;
}

.products .products_gallery h5 {
  color: #603F2F;
}

.products .products_gallery p {
  color: #CB913F;
}

/*query*/
.query form .subbtn {
  width: 60px;
  height: 45px;
  color: #fff;
  background: #D69942;
  border: none;
  outline: none;
  font-size: 1rem;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dfac65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader > img {
  width: 150px;
}

.loader.hidden {
  -webkit-animation: fadeOut 2s;
          animation: fadeOut 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */


.img-fluid{
  max-width: 100%;
  height: auto;
}
