@media (min-width: 1441px) and (max-width: 2650px) {}

@media (min-width: 1201px) and (max-width: 1440px) {}

@media (min-width: 1025px) and (max-width: 1200px) {
    /*nav*/
    nav .navbar-collapse a{
        font-size: 1vw !important;
    }
}

@media (min-width: 993px) and (max-width: 1024px) {
    /*nav*/
    nav .navbar-collapse a{
            font-size: 1vw !important;
        }
     /*footer*/
     footer .circle{
        width: 25px !important;
        height: 25px !important;
        border-radius: 12px !important;
    }
    footer .circle i{
        font-size: .9rem !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    /*nav*/
    nav .navbar-nav{
        float: none;
    }
    nav form .social{
        display: none !important;
    }
    nav form input{
        width: 85% !important;
    }
     /*footer*/
     footer .circle{
        width: 25px !important;
        height: 25px !important;
        border-radius: 12px !important;
    }
    footer .circle i{
        font-size: .9rem !important;
    }
    footer .info p{
        font-size: .7rem !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    /*nav*/
    nav .navbar-nav{
        float: none;
    }
    nav form .social{
        display: none !important;
    }
    nav form input{
        width: 85% !important;
    }
    /*footer*/
    footer .circle{
        width: 25px !important;
        height: 25px !important;
        border-radius: 12px !important;
    }
    footer .circle i{
        font-size: .8rem !important;
    }
    footer .info p{
        font-size: .7rem !important;
    }
}

@media (min-width: 426px) and (max-width: 576px) {
    nav form{
        margin-left: 15% !important;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    nav form{
        margin-left: 15% !important;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    /*nav*/
    nav form{
        margin-left: 15% !important;
    }
    /*chef*/
    .chef button{
        width: 340px !important;
    }
}

@media (max-width: 320px) {
    /*nav*/
    nav form{
        margin-left: 15% !important;
    }
     /*chef*/
     .chef button{
        width: 280px !important;
    }
}