*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: roboto;
}
html{scroll-behavior: smooth;direction: ltr;}
/*fonts*/
@font-face{
    src: url(../fonts/Roboto.ttf);
    font-family: roboto;
}
/*colors*/
$colorone: #edac55;
$colorhover: rgb(247, 202, 144);
::selection{
    background: #D69942;
}
/*uppernav*/
.uppernav{
    color: #7C590F;
    font-size: .9rem;
    .container{
        padding-right: 2rem;
        a{
            color: #7C590F;
            text-decoration: none;
        }
    }
}
/*nav start*/
nav{
    background: #27150B;
    border-bottom: solid 4px $colorone;
    border-top: solid 4px $colorone;
    .navbar-toggler{
        background: $colorone;
        outline: none;
    }
    .navbar-collapse{
        a{
            color: $colorone !important;
            font-size: rem;
            &:hover{
                color: $colorhover !important;
            }
        }
        .dropdown{
            &:hover .dropdown-menu{
                display: block;
            }
            .dropdown-item{
                border-bottom: 1px solid #d3c4b2;
                color: #7C590F !important;
                &:last-child{
                    border: none;
                }
            }
        }
        form{
            .social{
                position: relative;
                top: -1rem;
                letter-spacing: .6rem;
                i{
                    color: gray;
                    font-size: 1.2rem;
                    transition: .4s;
                    &:hover{
                        color: #fff;
                    }
                }
            }
            input{
                width: 60%;
                height: 33px;
                border: none;
                font-size: .8rem;
                z-index: 9;
                &:focus{
                    outline: none;
                }               
            }
            button{
                width: 40px;
                height: 33px;
                background: $colorone;
                border: none;
                color: #fff;
                &:focus{
                    outline: none;
                }
            }
        }
    }
}
/*header start*/
header{
    img{
        width: 100%;
    }
}
/*gallery start*/
.gallery{
    .firstgal{
        overflow: hidden;
        position: relative;
        h5{
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #fff;
            border-bottom: solid 2px #fff;
        }
    }
    img{
        height: 300px;
        min-height: auto;
        object-fit: cover;
        object-position: center;
        width: 100%;
        transition: .4s;
        &:hover{
            opacity: .8;
        }
    }
}
/*chef start*/
.chef{
    background: url(../images/he2.jpg) no-repeat;
    background-size: 100% 100%;
    button{
        width: 380px;
        height: 85px;
        color: rgb(211, 170, 94);
        font-size: 1.7rem;
        border: 2px solid #fff;
        background: transparent;
        outline: none;
    }
}
/*store*/
.store{
    color: #2E1206;
    .firstgal{
        overflow: hidden;
        border: solid 5px $colorone;
        img{
            transition: .4s;
            height: 300px;
            min-height: auto;
            object-fit: cover;
            object-position: center;
            width: 100%;
            &:hover{
                opacity: .8;
            }
        }
    }
    h4{
        text-align: center;
    }
}
/*form*/
.form{
    background: url(../images/form.jpg) no-repeat;
    background-size: cover;
    border-top: solid 5px $colorone;
    iframe{
        width: 100%;
    }
    form{
        background: rgba(0, 0, 0, .4);
        padding:1rem .7rem ;
        input{
            width: 100%;
        }
        .sub{
            width: 6rem;
            background: #CB913F;
            border: none;
            color: #fff;
            outline: none;
        }
       
    }
}
/*footer*/
footer{
    color: #7C590F;
    border-top: solid 15px #27150B;
    h5{
        color: #27150B;
        border-bottom: solid 1px rgb(185, 170, 161);
        padding-bottom: .3rem;
    }
    .circle{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: #AB9176;
        margin: 0rem .1rem;
        i{
            color: #fff;
            padding-left: 30%;
            padding-top: 25%;
            font-size: 1.2rem;
        }
    }
    .info{
        line-height: .8rem;
        button{
            width: 90px;
            height: 50px;
            background: #27150B ;
            color: #fff;
            outline: none;
            border: none;
            transition: .4s;
            &:hover{
                background: #603F2F;
            }
        }
    }
    .links{
        p{
            border-bottom: solid 1px rgb(185, 170, 161);
            font-size: .9rem;
            width: 80%;
            &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: #7C590F;
                margin-left: -.8rem;
                margin-top: .5rem;
            }   
        }
        a{
            color: #AC700F;
            text-decoration: none;
        }
    }
    .droid p{
        text-align: center;
    }
}
/*last*/
.last{
    border-top: solid 1px #D69942;
    color: #7C590F;
    text-align: center;
    background: #F3F3F3;
    a{
        width: 40px;
        height: 40px;
        background: rgb(197, 142, 24);
        color: #fff;
        font-weight: bolder;
        text-decoration: none;
    }
}
/*المنتجــــــــــــــــــــــــــــــــات*/
header{
    position: relative;
    img{
        width: 100%;
        border-bottom: solid 1px $colorone;
    }
    .header_content{
        position: absolute;
        width: fit-content;
        height: 35%;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        left: 6%;
        top: 35%;
        font-size: 2.7vw;
    }
}
.products{
    .product_list{
        background: #F9F9F9;
        a{
            text-decoration: none;
            color: #000;
            &:active{
                color: $colorone;
            }
            &:hover{
                color: $colorone;
            }
        }
    }
    .products_gallery{
        img{
            width: 100%;
            height: 200px;
            min-height: auto;
            object-fit: cover;
            object-position: center;
            transition: .4s;
            &:hover{
                opacity: .8;
            }
        }
        h5{
            color: #603F2F;
        }
        p{
            color: $colorone;
        }
    }
}
/*query*/
.query form{
    .subbtn{
        width: 150px;
        height: 45px;
        color: #fff;
        background: #D69942;
        border: none;
        outline: none;
        font-size: 1rem;
    }
}
// loader
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(223, 172, 101);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader > img {
    width: 150px;
}
.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}